* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
.fondo-inicio {
    background: linear-gradient(to right, #670048, #e632d7);
    
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    
}
.redes {
    width: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.nav-links {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}
a {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
}
.nav-links:hover {
    border-bottom: 2px solid #ff5b00;
}
i:hover {
    color: #ff5b00;
}
.navbar-icon {
    color: rgb(255, 255, 255);
    display: none;
    cursor: pointer;
}
h1 {
    font-size: 3rem;
    color: #00deef;
}
.contenido {
    max-width: 1100px;
    margin: auto;
    color: #fff;
}
.fila {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;
    padding-bottom: 100px;
    }
.columna {
    width: 50%;
    }
.columna-servicios {
    text-align: center;
    width: 30%;
    }
.fila-servicios {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -42px;
}
h2 {
    color: aliceblue;
    font-size: 3rem;
    margin-bottom: 15px;
}
img {
    width: 100%;
}
.biografia {
    color: aliceblue;
    margin-bottom: 15px;
    font-size: 1.1rem;
    line-height: 26px;
}
.btn-cv {
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background: linear-gradient(to right, #ff5b00, #ff9900);
    transition: .5s;
    color: aliceblue;
    width: 150px;
    margin-top: 15px;
    font-size: 1rem;
}
.tarjetas {
    border: 1px solid #8d8d8d;
    height: 300px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}
h3 {
    margin-bottom: 27px;
    margin-top: 20px;
}
.p-servicios {
    color: #313131;
    line-height: 28px;
    font-size: 15px;
}
.habilidades {
    padding: 0 20px;
}
.fila-habilidades {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    align-items: center;
    gap: 1rem;
    border: 1px solid #8d8d8d;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 2rem;
}
h4 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.columna-iconos {
    text-align: center;
    width: 30%;
    }
.contenedor-iconos{
font-size: 2rem;
}



.trabajos{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.item img{
    width: 100%;
    height: 100%;
    display: block;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap:30px;
}
.item{
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d ;
    border-radius: 10px;
}
.info{
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color:#fff ;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}
.info h3{
    color: #000;
    margin-bottom: 20px;
}

.info a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: #007be5;
    font-weight: bold;
}
.item:hover .info{
    opacity: 1;
    top: 0;
}




@media screen and (max-width:800px) {
    .redes {
        display: none;
    }

    #nav {
        display: none;
    }

    h1{
    font-size: 2.2rem;
    }

    header {
    padding: 1.5rem;
    }
    h2 {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

   .navbar-icon {
        display: block;
        font-size: 1rem;
    }

    .fondo-inicio {
        height: auto;
    }

    .fondo-inicio .fila {
        display: block;
        padding: 0 1rem;
    }

    .fondo-inicio .fila .columna {
        width: 100%;
        text-align: center;
    }
    
    .contenedor-img {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    img {
        margin-bottom: 20px;
    }

    .servicios {
        padding: 20px;
    }

    .fila-servicios {
        display: block;
        top: 0;
    }

    .columna-servicios {
        width: 85%;
        margin: auto;
    }

    .tarjetas {
        margin-bottom: 20px;
    }

    .p-servicios {
        font-size: 0.9rem;
        line-height: 18px;
    }

    .biografia {
        font-size: 0.9rem;
        line-height: 18px;
        padding: 0 1rem;
    }

.btn-cv {
    margin-bottom: 20px;
    padding: 0.2rem;
    font-size: 0.8rem;
}

}